/* signup section start */

.signup-section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-top: 5em;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='25' height='25' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(160, 0%, 100%, 1)'/><path d='M25 30a5 5 0 110-10 5 5 0 010 10zm0-25a5 5 0 110-10 5 5 0 010 10zM0 30a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm12.5 12.5a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='hsla(115, 59%, 30%, 0.13)' fill='none'/><path d='M0 15a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm25 0a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM12.5 2.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm0 25a2.5 2.5 0 110-5 2.5 2.5 0 010 5z'  stroke-width='1' stroke='hsla(160, 88%, 10%, 0.09)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.signup-wrap {
  width: 47%;
  padding: 3em 2.7em;
  color: rgba(0, 0, 0, 0.85);
  box-shadow: 10px 25px 15px -10px rgba(0, 0, 0, 0.2),
    -10px 0px 15px -10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.signup-thirdHeader {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.375rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
  font-family: var(--secondary-font);
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form-input {
  background-color: rgb(248, 248, 248);
  border: none;
  margin-bottom: 0.6em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.375;
  padding: 0.8em;
  color: rgba(0, 0, 0, 0.85);
  font-family: var(--secondary-font);
}

.signup-form-input::placeholder {
  color: rgb(173, 178, 188);
}

.signup-form-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.375rem;
  color: rgb(51, 51, 51);
  font-family: var(--secondary-font);
}

.signup-form-info span {
  color: var(--primary-purple);
}

.signup-form-info a {
  color: var(--primary-blue);
  font-weight: 500;
}

.signup-form-cta {
  font-size: 1.1rem;
  margin-top: 1.5em;
  font-family: var(--secondary-font);
}

/* tablet screen starts */
@media screen and (max-width: 768px) {
  .signup-wrap {
    width: 88%;
  }

  .signup-form-input {
    line-height: 1.8rem;
    margin-bottom: 0.8em;
  }

  .signup-form-cta {
    margin-bottom: 0.5em;
  }
}

/* tablet screen ends */

/* mobile screen ends */

@media screen and (max-width: 500px) {
  .signup-wrap {
    width: 92%;
    padding: 3em 1.2em;
  }

  .signup-form-info {
    font-size: 0.875rem;
  }
}

/*mobile screen ends */

/* signup section end */
