/* loading section starts */

.loading-sec{
    width: 1.5em;
    height: 1.5em;
    border: 2px solid;
    background-color: transparent;
    border-radius: 50%;
    border-color: white transparent white transparent;
    margin-left: 1em;
    animation: circle-loading 1s linear infinite;
}

@keyframes circle-loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* loading section ends */