/* header section start */

.header-section {
  min-height: 100vh;
  margin-bottom: 3em;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='25' height='25' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(160, 0%, 100%, 1)'/><path d='M25 30a5 5 0 110-10 5 5 0 010 10zm0-25a5 5 0 110-10 5 5 0 010 10zM0 30a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm12.5 12.5a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='hsla(115, 59%, 30%, 0.13)' fill='none'/><path d='M0 15a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm25 0a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM12.5 2.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm0 25a2.5 2.5 0 110-5 2.5 2.5 0 010 5z'  stroke-width='1' stroke='hsla(160, 88%, 10%, 0.09)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.header-wrap {
  padding-top: 10em;
  height: 100%;
}

.header-header {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--main-color);
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 4.375rem;
  margin-bottom: 0.5em;
}

.header-subheader {
  font-size: 1.125rem;
  font-weight: 400;
  color: rgb(82, 86, 83);
  line-height: 1.75rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3.5em;
}

.header-subheader span {
  color: rgb(87, 108, 180);
  font-weight: 600;
}

.header-url-form {
  width: 60%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1em;
  justify-content: space-between;
}

.header-url-form-input {
  width: 78%;
  border: 2px solid rgb(229, 231, 235);
  border-radius: 5px 0 0 5px;
  padding-left: 1.5em;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.header-url-form-input.loading {
  width: 70%;
}

.header-url-form-input::placeholder {
  color: rgb(163, 169, 181);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.header-cta-getInsights {
  width: 25%;
  border-radius: 5px 0px 0px 5px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
}

.header-cta-getInsights.loading {
  width: 28%;
}

.header-features-ul {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2em;
  width: max-content;
  margin: 0 auto;
}

.header-features-li {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(79, 79, 79);
  line-height: 1.5rem;
}

/* tablet screen starts */
@media screen and (max-width: 768px) {
  .header-header {
    font-size: 2.25rem;
    line-height: 2.875rem;
    margin-bottom: 1em;
  }

  .header-url-form {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.8em;
  }

  .header-url-form-input {
    width: 100%;
    line-height: 3rem;
    border-radius: 5px;
  }

  .header-url-form-input.loading {
    width: 100%;
  }

  .header-cta-getInsights.loading {
    width: 100%;
  }

  .header-cta-getInsights {
    width: 100%;
    justify-content: center;
    border-radius: 5px;
  }
}

/* tablet screen ends */

/* mobile screen ends */

@media screen and (max-width: 500px) {
  .header-wrap {
    padding-top: 15em;
  }

  .header-header {
    width: 100%;
    margin-bottom: 1.2em;
  }

  .header-subheader-br {
    display: none;
  }

  .header-url-form {
    width: 100%;
  }

  .header-url-form-input {
    padding-left: 0.8em;
  }

  .header-features-li {
    font-size: 0.875rem;
  }
}

/*mobile screen ends */

/* header section end */
