/* general settings starts */

*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  /* colors */
  /* --linear-gradient: linear-gradient(99deg, rgb(62, 25, 110), rgb(212, 108, 118));
  --primary-blue: rgb(62, 25, 110);
  --primary-purple: rgb(212, 108, 118);
  --main-color: #121b67; */

  --linear-gradient: linear-gradient(99deg, rgb(2, 46, 31), rgb(7, 51, 36));
  --primary-blue: rgb(2,46,31);
  --primary-purple: #073324;
  --main-color: #26781f;

  /* fonts */
  /* --primart-font: "Poppins", sans-serif; */
  --primart-font: 'Noto Sans', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}

body{
  font-size: 16px;
}

section {
  width: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}

.wrap {
  width: 81%;
  margin: 0 auto;
}

.btn-cta{
  padding: 0.8em 1em;
  font-size: 1rem;
  font-weight: 500;
  background-image: var(--linear-gradient); 
  border-radius: 5px;
  color: #fff;
  border: 2px solid transparent;
  position: relative;
}

.btn-cta:hover{
  transition: all 0.5s ease-in;
}

.btn-cta:hover::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.18);
}

.btn-cta-outline{
  background-image: none;
  background-color: #fff;
  color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  transition: all 0.5s ease-in;
}

.btn-cta-outline:hover{
  border-width: 3px;
}

.btn-cta-outline:hover::before{
  display: none;
}

/* tablet screen starts */
@media screen and (max-width: 768px) {

  .wrap{
    width: 95%;
  }

  .btn-cta-responsive{
    width: 100%;
  }
}

/* tablet screen ends */

/* mobile screen starts */
@media screen and (max-width: 768px) {

  .wrap{
    width: 93%;
  }
}

/* mobile screen ends */

/* general settings ends */


